
@import url('https://fonts.googleapis.com/css?family=Lobster|Parisienne&display=swap');


.form{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px; */
}
input [type=text]{
    width: 40px;
}
img {
    width: 100%;
    border-radius: 12px;
}
.uploaded-image{
    width: 125px;
    height: 125px;
    
}
.home-img {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.nav-container {
    position: fixed;
    z-index: 30;
    background-color: rgba(20, 8, 8, 0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding: 0;
}
.nav{
    z-index: 35;
    background-color: white;
    width: 60vw;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 22px 0;
    border: 1px solid saddlebrown;
    border-radius: 8px;
    box-shadow: 0px 30px 80px 4px black;
}
.nav > a {
    font-size: 20pt;
    display: block;
    min-width: 80vw;
    text-align: center;
}

.menu{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border:none;
    border-radius: 1px;
    font-size: 19pt;
    font-weight: 700;
    position: fixed;
    top: 0;
    margin: 0;
    background-color: #EEB75C;
    box-shadow: 0px 0px 17px 4px black;
    z-index: 30;
    text-align: center; 
    display:table-cell;
    vertical-align:middle; 
    padding-right: 0;  
    width: 100%;
    height: 42px;
    height: 47px;
    
}

.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-top: 25px;
    
}  
.recipeform-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border: black solid 10px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}
  
.myRecipe-container{
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 53px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url('https://i.pinimg.com/originals/ab/f0/cf/abf0cf93a7d79403304841a3afeb4927.jpg');
}
 
.firebase-images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;

}
.myRecipe-container > div > div > div:nth-child(1n) > div > form > :nth-child(1n),
.auth-form > button, .auth-form > form > input:nth-child(1n), button, select {
    border: 1px solid black;
    /* border-radius: 4px; */
    font-size: 10pt;
    display: block;
    height: 28px;
    width: 300px;
    
}
.mapped-recipes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.myRecipe-container > div > div > form {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;

}

.myRecipe-container > div > div > form > :nth-child(1n){
    display: block;
    font-size: 19pt;
    margin: 2px auto;
    padding: 6px;
    align-self: center;
}
form{
    margin: 20 auto;
    width: 320px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info >h1{
    margin: -3px 0px;
    text-align: center;
}
.info >h3{
    text-align: center;
}
.info >h4{
    text-align: center;
    color: black;
}
.ingredient-container > h4{
    margin-top: 0px; 
    font-size: 22px;
    text-align: center;
    padding: 0;
}
.ingredient-container > ul{
    margin-bottom: 10px;
    font-size: 22px;
    text-align: left;
}

.add-edit{
    padding-top: 60px;
}
.myRecipe-container > div > div > form {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    padding-top: 0;
    margin-top: 0;
}
.myRecipe-container > div > div > form > :nth-child(1n){
    font-size: 12pt;
    border: solid 2px black;
    text-align-last: center;    
    width: 100%;
}
.auth-form > button, .auth-form > form > input:nth-child(n), .myRecipe-container > div > div > div:nth-child(n) > div > form > :nth-child(n), button, select {
    font-size: 10pt;
    display: block;
    height: 34px;
    width: 20vw;
    border: solid 2px black;
    border-image: initial;
    /* border-radius: 4px; */
    padding: 8px;
    margin-right: 61px;
}

.recipeform-container > form > input[type=text]:nth-child(1){
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
    text-align: center;
    font-size: 13px;
}    
.recipeform-container > form > input[type=text]:nth-child(2){
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
    text-align: center;
    font-size: 13px;
}
.recipeform-container > form > input[type=text]:nth-child(3){
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
    text-align: center;
    font-size: 13px;
}

.recipeform-container > form > input[type=text]:nth-child(4){
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
    text-align: center;
    font-size: 13px;
}
.recipeform-container > form > select{
    width: 100%;
    /* padding: 12px; */
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
    font-size: 11px;
    text-indent: 20px;
    margin-left: 60px;
    

}

.recipeform-container > form > button{
    display: block;
    width: 100%;
    border: none;
    background-color: white;
    padding: 14px 28px;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    /* border: solid 2px black; */
    margin-left: 60px;
    margin-top: 10px;    
} 
.ind-recipe{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.indulgent-cont{
    background-image: url('https://i.pinimg.com/originals/ab/f0/cf/abf0cf93a7d79403304841a3afeb4927.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
   
.healthy-display{
    background-image: url('https://i.pinimg.com/originals/ab/f0/cf/abf0cf93a7d79403304841a3afeb4927.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.healthy-display >h1{
    text-shadow:2px 3px whitesmoke;
    margin-top: 100px;
    font-size: 3rem;
}


.info {
    position: relative;
    color: white;
    background: rgba(109, 53, 11, 0.5);
    top: -141px;
    width: 50vw;
    height: 80px;
    margin-top: 20px;
    border-radius: 7px;
}
.ingredients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.ingredients > h3{
    font-size: 26px;
    text-align: center;
    margin-bottom: 12px;
}
.ingredients > h4{
    margin-top: -124px;
    font-size: 28px;
    text-align: center;
}
.ingredients > h5{
    margin-top: -30px;
    font-size: 24px;
    text-align: center;
}
.ingredients >ul{
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 22px;
    font-weight: 500;
    padding-left: 10px;
}
.recipe-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
    background-color: rgb(197,196,190);
    border: solid black 4px; 
    border-radius: 4px;
    box-shadow: 0px 2px 8px 4px black;
    width: 70%;
}
.recipe-container >h4{
    font-size: 25px;
    margin-bottom: -8px;
}
.myRecipe-container > div > div > div:nth-child(1) > div > form > select{
   font-size: 12px;
   padding-bottom: 5px;
}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header {
    display: flex;
    font-size: 4rem;
    margin-top: 50px;
    text-align: center;
    margin-left: 100px;
    padding-left: 290px;
    text-shadow:2px 3px whitesmoke;
}
.header >h1{
    font-size: 70px;
    font-family: 'Lobster', cursive; 
    
}
.button{
    font-size: 1rem;
    margin-top: 50px;
    text-align: center;
    /* padding-left: 60px; */
    margin-left: 150px;

 } 

.button >button{
    display: block;
    padding-bottom: 30px;
    text-align: center;
    font-size: 1rem;
    background-color: black;
    width: 150px;
    color: whitesmoke
}
.indulgent-cont >h1{
    text-shadow:2px 3px whitesmoke;
    font-size: 3rem;
    margin-top: 60px;
    text-align: center;
}
.add-edit > button{
    margin-left: 82px;
    width: 50%;
    height: 30px;
    margin-bottom: 8px;
    background-color: white;
    text-align: center;
}
.add-edit >h2{
    margin-left: 10px;
}
.myRecipe-container > div > div > form:nth-child(1) > input[type=file]{
    font-size: 7px;
    font-weight: bolder;
    margin-top: 0px;
}
.btn{
    display: block;
    border: solid black;
    background-color: white;
    margin-top: 2px;
    padding-bottom: -13px;
    text-align: center;
    padding: 8px;
    margin-bottom: 2px;
    height: 34px;
    font-size: 13px;
}
.toggler-btn{
    display: inline-block;
    border: solid black;
    background-color: white;
    margin-top: -5px;
}
.recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
    background-color: rgb(197,196,190);
    border: solid black 4px;
    border-radius: 4px;
    box-shadow: 0px 2px 8px 4px black;
    width: 70%;
}
.myRecipe-container > div > div.mapped-recipes > div:nth-child(1) > div > form > input[type=text]:nth-child(1){
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
    text-align: center;
    font-size: 13px; 
    margin-left: 58px;
}
.myRecipe-container > div > div.mapped-recipes > div:nth-child(1) > div > form > input[type=text]:nth-child(2){
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
    text-align: center;
    font-size: 13px; 
    margin-left: 58px;
}
.myRecipe-container > div > div.mapped-recipes > div:nth-child(1) > div > form > input[type=text]:nth-child(3){
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
    text-align: center;
    font-size: 13px; 
    margin-left: 58px;
}
.myRecipe-container > div > div.mapped-recipes > div:nth-child(1) > div > form > input[type=text]:nth-child(4){
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
    text-align: center;
    font-size: 13px; 
    margin-left: 58px;

}
.myRecipe-container > div > div.mapped-recipes > div:nth-child(1) > div > form > select{
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
    text-align: center;
    font-size: 13px; 
    margin-bottom: -10px;
}
.myRecipe-container > div > div.mapped-recipes > div:nth-child(1) > div > form > button{
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
    text-align: center;
    font-size: 13px; 
}
.menu-container > div > div > button{
    margin-left: 50px;
}
.recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
    background-color: rgb(197,196,190);
    border: solid black 4px;
    border-radius: 4px;
    box-shadow: 0px 2px 8px 4px black;
    width: 70%;
}








@media screen and (min-width: 375px) and (max-width: 968px){
    
    .recipe-form{
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14pt;
        text-align: left;
        margin: auto;
    }
    img {
        max-height: 600px;
        width: 100%;
        object-fit: cover;
        margin: 0 auto;
        display: block;
    }
    .recipe-container{
        width: 100%
    }
    .recipe-container > h4{
        
        font-size: 15px;    
    }
    .recipe-container >img{
        width: 100%;
    }
    .info {
    position: relative;
    color: white;
    background: rgba(109, 53, 11, 0.5);
    top: -90px;
    width: 90%;
    height: 41px;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 7px;
    padding-bottom: 0px;
    
}
    .info >h1{
        font-size: 15px;
        text-align: center;
        padding-top: 10px;
    }
    .info >h3{
        font-size: 11px;
        text-align: center;
    }
    .info >h4{
        font-size: 15px;
        color: black;
    }
    .ingredients >h3{
        font-size: 23px;
        margin-top: -39px;
    }
    .ingredients > h4{
        text-align: center;
        font-size: 19px;  
    }
    .ingredients > h5{
        text-align: center;
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    .ingredients > ul{
        font-weight: 600px;
        padding-bottom: -20px;
        padding-left: 30px;
        padding-right: 9px;
        font-size: 17px;
    }
    
    .ingredient-container > h4 {
        font-size: 19px;
        margin-top: -39px;
    }  
    .ingredient-container >ul{
        font-size: 15px;
        font-weight: bold;
        padding-left: 25px;
        padding-right: 10px;
    } 
    #root>div>div.nav-container>div>button, .auth-form>button, .auth-form>form>input:nth-child(1n), .myRecipe-container>div>div>div:nth-child(1n)>div>form>:nth-child(1n), button, select {
        border: 2px solid black;
        border-radius: 4px;
        font-size: 13px;
        display: block;
        height: 27px;
        width: 110px; 
        margin-right: 20px;       
    }
    .auth-form>button, .auth-form>form>input:nth-child(1n), .myRecipe-container>div>div>div:nth-child(1n)>div>form>:nth-child(1n), button, select {
        font-size: 9pt;
        font-weight: 600px;
        height: 27px;
        width: 40vw;   
        margin: 0;
    } 
    .selection{
        font-size: 9pt;
        font-weight: 600px;
        height: 32px;
        width: 170px;
    }   
    .auth-form{
        padding: 0px;
        margin: auto;
        width: 90%;
        margin-top: 55px;    
    }
    .toggler-btn{
        margin-right: 50px;
    }
    .menu{
        padding-right: 30px;
        font-size: 19px
    } 
    .form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
    }
    .healthy-display >h1{
        font-size: 25px;
    }
    ul >li{
        font-size: 12px;
    }
    .mapped-recipes{
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .myRecipe-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }
    .myRecipes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 120%
    }
    .header-container{
        flex-direction: column;
        width: 100%;
    } 
    .header {
        display: flex;
        font-size: 4rem;
        margin-top: 30px;
        margin-left: 0px;
        text-align: center;
        margin-right: 270px;
        /* padding-left: 100px; */
        text-shadow: 2px 3px whitesmoke;
    }
    .header >h1 {
        font-size: 40px;
        text-align: center;
        margin-top: -28px;
        
    }
    .button{
        height: 7px;
        margin-left: 10px;
        padding-bottom: 20px;
        font-size: 11px;
        margin-right: -6px;
        margin-left: 0px;
    }

    .menu-container > div > div > button {
        margin-left: -6px;
        padding-bottom: 21px;
    }


}

    


