*{
    margin: 0;
}
.app{
    margin: 0;
    padding: 0;
}
.form{
    border: solid black 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
input [type=text]{
    width: 40px;
}
img {
    object-fit: cover;
    width: 70vw;
    border: solid 5px black;
    border-radius: 12px;
}

.home-img {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.nav-container {
    position: fixed;
    z-index: 30;
    background-color: rgba(20, 8, 8, 0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding: 0;
}
.nav{
    z-index: 35;
    background-color: white;
    width: 80vw;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 22px 0;
    border: 1px solid saddlebrown;
    border-radius: 8px;
    box-shadow: 0px 30px 80px 4px black;
}
.nav > a {
    font-size: 20pt;
    display: block;
    min-width: 80vw;
    text-align: center;
}

.menu{
    border:none;
    border-radius: 1px;
    font-size: 19pt;
    font-weight: 700;
    position: fixed;
    top: 0;
    margin: 0;
    background-color: #EEB75C;
    box-shadow: 0px 0px 17px 4px black;
    z-index: 30;
    text-align: center; 
    display:table-cell;
    vertical-align:middle; 
    padding-right: 60px;  
    width: 100vw;
    height: 42px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding-top: 25px;
    
}  
.recipeform-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}  
.firebase-images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-top: 30px;

}
.myRecipe-container > div > div > div:nth-child(1n) > div > form > :nth-child(1n),
.auth-form > button, .auth-form > form > input:nth-child(1n), button, select {
    border: 2px solid black;
    border-radius: 4px;
    font-size: 10pt;
    display: block;
    height: 28px;
    width: 300px;
    
}
.mapped-recipes{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.myRecipe-container > div > div > form {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

.myRecipe-container > div > div > form > :nth-child(1n){
    display: block;
    font-size: 19pt;
    margin: 8px auto;
    padding: 6px;
}
form{
    margin: 20 auto;
    width: 320px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info >h1{
    margin: -3px 0px;
    text-align: center;
}
.info >h3{
    text-align: center;
}
.info >h4{
    text-align: center;
}
.ingredient-container > h4{
    margin-top: 0px; 
    font-size: 22px;
    text-align: center;
}
.ingredient-container > ul{
    margin-bottom: 10px;
    font-size: 22px;
    text-align: left;
}
.myRecipe-container{
    align-self: center;
}
.add-edit{
    padding-top: 60px;
}
.myRecipe-container > div > div > form > :nth-child(1n){
    font-size: 12pt;
    border: solid 5px black;
    text-align-last: center;    
    width: 100%;
}
.auth-form > button, .auth-form > form > input:nth-child(n), .myRecipe-container > div > div > div:nth-child(n) > div > form > :nth-child(n), button, select {
    font-size: 10pt;
    display: block;
    height: 34px;
    width: 20vw;
    border: solid 2px black;
    border-image: initial;
    border-radius: 4px;
    padding: 8px;
    margin-right: 61px;
}
.recipeform-container > form > input[type=text]:nth-child(1){
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    text-align: center;
    font-size: 13px;
}    
.recipeform-container > form > input[type=text]:nth-child(2){
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    text-align: center;
    font-size: 13px;
}
.recipeform-container > form > input[type=text]:nth-child(3){
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    text-align: center;
    font-size: 13px;
}
.recipeform-container > form > input[type=text]:nth-child(4){
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    text-align: center;
    font-size: 13px;
}
.recipeform-container > form > select{
    width: 100%;
    /* padding: 12px; */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    font-size: 11px;
    text-indent: 125px;
    margin-left: 60px;
    

}

.recipeform-container > form > button{
    display: block;
    width: 100%;
    border: none;
    background-color: white;
    padding: 14px 28px;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    /* border: solid 2px black; */
    margin-left: 60px;
    
} 
.recipeform-container > div > form > button{
    display: block;
    width: 90%;
    border: none;
    background-color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-left: 60px;
    margin-top: 10px; 
}

.info {
    position: relative;
    color: white;
    background: rgba(109, 53, 11, 0.5);
    top: -141px;
    width: 50vw;
    height: 80px;
    margin-top: 20px;
    border-radius: 7px;
}
.ingredients {
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.ingredients > h3{
    font-size: 26px;
    text-align: center;
    margin-bottom: 12px;
}
.ingredients > h4{
    margin-top: -124px;
    font-size: 28px;
    text-align: center;
}
.ingredients > h5{
    margin-top: -30px;
    font-size: 24px;
    text-align: center;
}
.ingredients >ul{
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 22px;
    font-weight: 500;
    /* padding-bottom:  100px; */
}
.recipe-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 20px;
    border: solid;
}
.recipe-container >h4{
    font-size: 25px;
}
#root > div > div.myRecipe-container > div > div > div:nth-child(1) > div > form > select{
   font-size: 12px;
   padding-bottom: 5px;
}



@media screen and (min-width: 375px) and (max-width: 968px){
    
    .recipe-form{
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14pt;
        text-align: left;
        margin: auto;
    }
    img {
        max-height: 600px;
        width: 95vw;
        object-fit: cover;
        margin: 0 auto;
        display: block;
    }
    
    .recipe-container > h4{
        font-size: 17px;
        
    }
    .info {
    position: relative;
    color: white;
    background: rgba(109, 53, 11, 0.5);
    top: -104px;
    width: 67vw;
    height: 41px;
    margin-top: 20px;
    border-radius: 7px;
    padding-bottom: 0px;
}
    .info >h1{
        font-size: 18px;
        text-align: center;
    }
    .info >h3{
        font-size: 12px;
        text-align: center;
    }
    .ingredients >h3{
        font-size: 23px;
        margin-top: -39px;
    }
    .ingredients > h4{
        text-align: center;
        font-size: 19px;  
    }
    .ingredients > h5{
        text-align: center;
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    .ingredients > ul{
        font-weight: 600px;
        padding-bottom: -20px;
        padding-left: 30px;
        padding-right: 9px;
        font-size: 17px;
    }
    
    .ingredient-container > h4 {
        font-size: 19px;
        margin-top: -39px;
    }  
    .ingredient-container >ul{
        font-size: 15px;
        font-weight: bold;
        padding-left: 25px;
        padding-right: 10px;
    } 
    #root>div>div.nav-container>div>button, .auth-form>button, .auth-form>form>input:nth-child(1n), .myRecipe-container>div>div>div:nth-child(1n)>div>form>:nth-child(1n), button, select {
    border: 2px solid black;
    border-radius: 4px;
    font-size: 13px;
    display: block;
    height: 27px;
    width: 110px; 
    margin-right: 20px;       
    }
    .auth-form>button, .auth-form>form>input:nth-child(1n), .myRecipe-container>div>div>div:nth-child(1n)>div>form>:nth-child(1n), button, select {
        font-size: 9pt;
        font-weight: 600px;
        height: 27px;
        width: 40vw;   
        margin: 0;
    } 
    .selection{
        font-size: 9pt;
        font-weight: 600px;
        height: 32px;
        width: 170px;
    }   
    .auth-form{
        padding: 0px;
        margin: auto;
        width: 90%;
        margin-top: 55px;    
    }
    .toggler-btn{
        margin-right: 50px;
    }
    .menu{
        padding-right: 30px;
        font-size: 19px
    } 
    .form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
    }
    


}

    


